@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.section-header {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 80px;
  border: none;
  width: 99%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.logo-compras {
  display: flex;
  height: 80px;
  border-radius: 30%;
}

.div-img-h1 {
  display: flex;
}

.h1-online-store {
  margin-top: -11px;
}

.h3 {
  margin-top: -15px;
}

.input-search {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  margin-left: -100px;
  margin-top: 20px;
  height: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.button-header {
  font-family: 'Poppins', sans-serif;
  width: 60px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background-color: rgba(102,205,170);
}

.button-header:hover {
  cursor: pointer;
}

.logo-carrinho {
  display: flex;
  height: 80px;
  border-radius: 30%;
}