@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.main-div {
  display: flex;
}

.home-div {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 80%;
}

.home-div h1 {
  width: 100%;
  color: rgb(80, 78, 78);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.div-h1-img img {
  margin-top: 20px;
  width: 60%;
  height: 60%;
}

.home-h1-2 {
  width: 100%;
  color: rgb(80, 78, 78);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.home-product {
  flex-wrap: wrap;
  width: 150px;
  margin: 15px;
  padding: 5px;
  overflow: hidden;
}

.home-product:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.home-details {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
} 